{{- $bindingData := .gitIdentity -}}
{{- if not (get $bindingData "publicFixture") -}}
{{- $bindingData = include ".private-git-identities.toml.age" | decrypt | fromToml -}}
{{- end -}}
[user]
	email = {{ $bindingData.identities.personal.email | quote }}
