{{- if eq .chezmoi.os "darwin" }}
{{- $root := . }}
schema_version = {{ .mlxd.config.schemaVersion }}

[metrics]
retention_days = {{ .mlxd.config.metricsRetentionDays }}

{{ range $name, $model := .mlxd.config.models -}}
{{ if or (not (hasKey $model "targetHostname")) (eq $root.chezmoi.hostname $model.targetHostname) -}}
[models.{{ $name | quote }}]
reference = {{ if hasKey $model "localDir" }}{{ joinPath $root.chezmoi.homeDir $model.localDir | quote }}{{ else }}{{ $model.reference | quote }}{{ end }}

{{ end -}}
{{ end -}}
{{ range $name, $server := .mlxd.config.servers -}}
{{ if or (not (hasKey $server "targetHostname")) (eq $root.chezmoi.hostname $server.targetHostname) -}}
[servers.{{ $name | quote }}]
type = {{ $server.type | quote }}
model = {{ $server.model | quote }}
port = {{ $server.port }}
{{ if hasKey $server "options" -}}
[servers.{{ $name | quote }}.options]
{{ range $key, $value := $server.options -}}
{{ $key }} = {{ if eq $key "kv_config" }}{{ joinPath $root.chezmoi.homeDir (index $root.mlxd.config.models $server.model).localDir $value | quote }}{{ else }}{{ $value | toJson }}{{ end }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
{{- end -}}
