{{- $config := default (dict) (get . "secretExec") -}}
{{- if not (get $config "publicFixture") -}}
{{- $config = include ".private-secret-exec.toml.age" | decrypt | fromToml -}}
{{- end -}}
{{ index $config.profiles "proton-session" -}}
