[".cache/chezmoi/includes/bottom/colors-catppuccin-{{ .catppuccin.flavor }}.toml"]
refreshPeriod = {{ .catppuccin.refreshPeriod | quote }}
type = "file"
url = "https://github.com/catppuccin/bottom/raw/main/themes/{{ .catppuccin.flavor }}.toml"
