{{- $lazygitThemesPath := joinPath ".config" "lazygit" -}}
{{- $refreshPeriod := .catppuccin.refreshPeriod -}}
{{- $accent := .catppuccin.accent -}}
{{- range $i, $flavor := .catppuccin.allFlavors -}}
{{- if ne $i 0 }}{{ "\n\n" }}{{ end -}}
[{{ joinPath $lazygitThemesPath (print "catppuccin-" $flavor "-" $accent ".yml") | quote }}]
refreshPeriod = {{ $refreshPeriod | quote }}
type = "file"
url = "https://github.com/catppuccin/lazygit/raw/main/themes-mergable/{{ $flavor }}/{{ $accent }}.yml"
{{- end }}
